<p class="postscript">
  To migrate from ember-css-module to ember-css-scoped, you will have to rename <code>local-class</code> to <code>class</code>, 
  and a couple of other things describes in the README.
</p>
