<h1 local-class="title">From ember-css-modules to ember-scoped-css</h1>

<p class="subtitle">A demo inspired by ember-welcome-page.</p>

<p local-class="local-em-paragraph">This paragraph belongs to the Header component.</p>