{{!-- This component is a copy of welcome-page.hbs 
https://github.com/ember-cli/ember-welcome-page/blob/main/ember-welcome-page/src/components/welcome-page.hbs
used to easily set up this demo. --}}

<main id="ember-welcome-page-id-selector">
  <div class="columns">
    <div class="tomster">
      <img src="images/construction.png" alt="Under construction">
    </div>
    <div class="welcome">
      <h2 id="title" class="welcome-title">Congratulations, you made it!</h2>

      <p>You&rsquo;ve officially spun up your Ember app. You&rsquo;ve got one more decision to make: what do you want to do next? We&rsquo;d suggest one of the following to help you get going:</p>
      <ul>
        <li><a href="https://guides.emberjs.com/release/getting-started/quick-start/">Quick Start</a> - a quick introduction to how Ember works. Learn about defining your first route, writing a UI component and deploying your application.</li>
        <li><a href="https://guides.emberjs.com/release/tutorial/">Tutorial</a> - this is our more thorough, hands-on intro to Ember. Your crash course in Ember philosophy, background and some in-depth discussion of how things work (and why they work the way they do).</li>
      </ul>
      <p>If you run into problems, please join <a href="https://discord.gg/emberjs">our community's Discord server</a> or visit <a href="http://discuss.emberjs.com/">our forums</a> for ideas and answers— our community is filled with friendly folks who are willing to help! We enjoy helping new Ember developers get started, and our <a href="https://emberjs.com/community/">Ember Community</a> is incredibly supportive.</p>
    </div>
  </div>
  <p class="{{local-class 'local-em-paragraph' from='css-modules-to-scoped-css/components/header.css'}} postscript">To remove this welcome message, remove the
    <code>
      &lt;WelcomePage /&gt;
    </code>
    component from your
    <code>
      app/templates/application.hbs
    </code>
    file and save it...you'll see this page update soon after!
  </p>
</main>