{{page-title "From ember-css-modules to ember-scoped-css"}}

<p class="about em-paragraph">A demo to migrate ember-css-modules to ember-scoped-css, setup using <a href="https://github.com/ember-cli/ember-welcome-page">ember-welcome-page</a>.</p>

<WelcomePageCopy />

<Footer />